<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/food_upload.css"></style>
    <link rel="stylesheet" href="/css/genre_select.css">
    <link rel="stylesheet" href="/css/recipe.css">
    <link rel="stylesheet" href="/css/slick/slick-theme.css">
    <link rel="stylesheet" href="/css/slick/slick.css">
    <style type="text/css">
      #templateForm {
        display: none;
      }
    </style>

    <%= include_gon %>
    <title><%= @title %></title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
      <a class="navbar-brand" href="/home"><%= @app_name %></a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="Navber">

        <!-- Right Side Of Navbar -->
        <ul class="navbar-nav ml-auto">
          <% if @current_user %>
            <li class="nav-item dropdown">
              <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-pre>
                <span class="user-font"><%= @current_user.name %></span> <span class="caret"></span>
              </a>

              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <!-- Logout form -->
                <a class="dropdown-item" href="/refrigerator">冷蔵庫</a>
                <a class="dropdown-item" href="/auth/logout">ログアウト</a>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <a class="nav-link" href="/auth/login">ログイン</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signup">登録</a>
            </li>
          <% end %>
        </ul>

      </div><!-- /.navbar-collapse -->
    </nav>


    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">

            <%= yield %>

        </div>
      </div>
      <footer class="footer_items">
        <hr>
        <p>
          <a href="/unsubscribed">退会について</a> ・
          <a href="/terms_of_service">利用規約</a>
        </p>
        <small>Copyright (c) 飢餓学割運営 All Rights Reserved.</small>
      </footer>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS , fontawesome , slick.js-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <script src="/js/food_add_form.js"></script>
  </body>
</html>
