<tr>
<td>
  <input 
    type="checkbox"
    name="items[][food_name]"
    value="<%= refrigerator_food.name %>"
  >
  <%= refrigerator_food.name %>
</td>
<td>
  <% if refrigerator_food.gram.present? %>
    <input 
      type="range"
      name="items[][gram]"
      value="<%= refrigerator_food.gram %>"
      min="1"
      max="<%= refrigerator_food.gram %>"
      step="1"
      oninput="document.getElementById('<%= refrigerator_food.id %>').value=this.value"
      disabled
    >
    <output id="<%= refrigerator_food.id %>" ><%= refrigerator_food.gram %>g</output>
  <% else %>
    <input 
      type="range"
      name="items[][gram]"
      min = "0"
      max = "0"
      disabled
    >
  <% end %>
</td>
</tr>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
$(function(){
  $('input[name="items[][food_name]"').on('change',function(){
    $('input[name="items[][gram]"')
      .eq($('input[name="items[][food_name]"').index(this))
      .prop('disabled',!$(this).prop('checked'));
  }).trigger('change');
});
</script>