<% if flash[:error] %>
  <%= flash[:error] %>
<% end %>
<div>
  <h1 class="h2"><i class="fas fa-search" style="width: 0.8em"></i> レシピを探す</h1>

  <form action="/recipes" method="post">

    <h2 class="h5 mt-5">料理ジャンル</h2>
    <div class="d-flex flex-wrap">
      <label class="select-label">
        <input type="radio" name="genre" class="select-input" checked>
        <span class="select-cell">--ジャンルを選択--</span>
      </label>
      <% %w(和食 洋食 中華 イタリアン おかず スイーツ).each do |genre| %>
        <label class="select-label">
          <input type="radio" name="genre" value="<%= genre %>" class="select-input">
          <span class="select-cell"><%= genre %></span>
        </label>
      <% end %>
    </div>

    <h2 class="h5 mt-5">使いたい食材(複数可)</h2>
    <div class="d-flex flex-wrap">
      <% @user_foods.each do |food| %>
        <label class="select-label">
          <input type="checkbox" name="genre" value="<%= food.name %>" class="select-input">
          <span class="select-cell">
            <span class="checkbox-icon"></span>
            <%= food.name %>
          </span>
        </label>
      <% end %>
    </div>

    <input class="btn btn-block btn-accent mt-5" type="submit" value="検索">
  </form>

</div>
