<h1><%= @recipe_title %></h1>
<img src="<%= @recipe_image %>" />

<%# 材料一覧 %>
<% @ingredients.each do |ingredient| %>
  <% if ingredient.kind_of?(Hash) %>
    <p><%= ingredient[:name] %> - <%= ingredient[:amount] %></p>
  <% else %>
    <%# 材料がカテゴリ分けされている時、ここでは「■食材A」のように表示される %>
    <p><%= ingredient%></p>
  <% end %>
<% end %>

<%# 調理手順 %>
<% @steps.each do |step| %>
  <% if step[:photo_src] %>
    <img src="<%= step[:photo_src] %>" />
  <% end %>

  <p><%= step[:text] %></p>
<% end %>
