<style type="text/css">
.recipe-img-wrapper {
  width: 280px;
}

img.recipe-img {
  max-width: 280px;
  max-height: 487px;
  display: block;
  margin: 0 auto;
}

.recipe-title-color {
  color: #90A23C;
}

.recipe-sub-color {
  color: #E0C784;
}

.recipe-steps-wrapper {
  width: 136px;
  overflow: hidden;
  word-wrap: break-word;
  margin-right: 21px;
  margin-bottom: 10px;
  float: left;
}
</style>

<h1 class="h2 font-weight-bold recipe-title-color"><%= @recipe_title %></h1>
<div class="d-flex">
  <div class="recipe-img-wrapper mr-4">
    <img src="<%= @recipe_image %>" class="recipe-img"/>
  </div>

  <%# 材料一覧 %>
  <div>
    <h3 class="recipe-sub-color">材料</h3>

    <% @ingredients.each do |ingredient| %>
      <% if ingredient.kind_of?(Hash) %>

        <div>
        <a href="<%='https://www.amazon.co.jp/s?k='+ingredient[:name] %>" class="btn  rounded-circle p-0"><i class="fas fa-shopping-cart"></i></a>

        <%= ingredient[:name] %> - <%= ingredient[:amount] %>
        </div>
      <% else %>
        <%# 材料がカテゴリ分けされている時、ここでは「■食材A」のように表示される %>
        <div class="mt-3"><%= ingredient%></div>

      <% end %>
    <% end %>
  </div>

</div>

<%# 調理手順 %>
<div class="mt-5">

  <% @steps.each.with_index(1) do |step, num| %>
    <div class="recipe-steps-wrapper">
      <dl>
        <dt class="recipe-sub-color"><%= num %></dt>
        <dd>
          <% if step[:photo_src] %>
            <img src="<%= step[:photo_src] %>" />
          <% end %>

          <p><%= step[:text] %></p>
        </dd>
      </dl>
    </div>
  <% end %>

</div>

<!--バックエンドのテストのために設置
    選択フォームが出来次第削除する
<form action="/recipes/delete" method="POST">
  <% if @refrigerator_foods.present? %>
    <% @refrigerator_foods.each do |refrigerator_food| %>
      <input 
        type="checkbox"
        name="items[][name]"
        value="<%= refrigerator_food.name %>"
      >
      <%= refrigerator_food.name %>
      <input 
        type="range"
        name="items[][gram]"
        value="<%= refrigerator_food.gram %>"
        min="1"
        max="<%= refrigerator_food.gram %>"
        step="1"
        oninput="document.getElementById('<%= refrigerator_food.id %>').value=this.value"
      >
      <output id="<%= refrigerator_food.id %>"><%= refrigerator_food.gram %></output>
      <br>
    <% end %>
  <% else %>
    <p>冷蔵庫に食材がありません。</p>
  <% end %>
  <input type="submit">テスト</input>
</form>
-->
<form action="/recipes/delete" method="POST">
  <% if @refrigerator_foods.present? %>
  <table>
    <thead>
      <tr>
        <th>食材名</th>
        <th>グラム数</th>
      </tr>
    </thead>
    <tbody>
    <% @refrigerator_foods.each do |refrigerator_food| %>
      <tr>
      <td>
        <input 
          type="checkbox"
          name="items[][food_name]"
          class="<%= refrigerator_food.id %>"
          value="<%= refrigerator_food.name %>"
        >
        <%= refrigerator_food.name %>
      </td>
      <td>
      <% if refrigerator_food.gram.present? %>
        <input 
          type="range"
          name="items[][gram]"
          value="<%= refrigerator_food.gram %>"
          min="1"
          max="<%= refrigerator_food.gram %>"
          step="1"
          oninput="document.getElementById('<%= refrigerator_food.id %>').value=this.value"
        >
        <output id="<%= refrigerator_food.id %>"><%= refrigerator_food.gram %></output>
      <% else %>
        <input type="range" disabled>
        <input type="hidden" name="items[][gram]" value="">
      <% end %>
      </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <% end %>
  <input type="submit">テスト</input>
</form>