<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://unpkg.com/bootstrap-show-password@1.2.1/dist/bootstrap-show-password.min.js"></script>

<%= erb :'discarded_foods/_show_message' %>

<h1>廃棄した食材の登録</h1>
<%= erb :'discarded_foods/_form_row', locals: { food: nil, id: 'templateForm' } %>

<form action="/discarded_foods/food_discard" method="post">
  <div class="rows" id="displayArea">
    <div class="form-row mb-2">
      <div class="col-5">食材名</div>
      <div class="col-5">グラム</div>
    </div>

    <% if flash[:failure_discarded_foods] %>
      <% flash[:failure_discarded_foods].each do |food| %>
        <%= erb :'discarded_foods/_form_row', locals: { food: food, id: '' } %>

        <div name="errors" class="row mb-2">
          <%= erb :'shared/_field_errors', locals: { model: food, column: :name } %>
          <%= erb :'shared/_field_errors', locals: { model: food, column: :gram } %>
        </div>
      <% end %>

    <% else %>
      <%= erb :'discarded_foods/_form_row', locals: { food: nil, id: '' } %>
    <% end %>
  </div>

  <button
    type="button"
    id="addButton"
    class="btn btn-lg btn-outline-success rounded-circle p-0 d-block mx-auto mb-4 mt-4"
    style="width:3rem; height:3rem;"
  >
    <i class="fas fa-plus"></i>
  </button>

  <button type="submit" class="btn btn-primary d-block ml-auto mb-2">
    廃棄する
  </button>


  <style type="text/css">
    #templateForm {
      display: none;
    }
  </style>

  <script>
  $(function(){
      var idNo = 1;

      $('button#addButton').on('click',function(){
          let tempTr = $('#templateForm');
          tempTr
              .clone(true)
              .removeAttr("id")
              .appendTo('#displayArea')
              .find('input[type="text"]')
              .prop("required",true);
          idNo++;
      });

      $('button[name=removeButton]').on('click',function(){
          let removeObj = $(this).closest('.form-row');
          if(removeObj.attr('id') != 'templateForm') {
              removeObj.next('*[name=errors]').remove();
              removeObj.remove();
          }
      });

  });
  </script>

</form>
